@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
}
body {
background-image: linear-gradient(to bottom, #434343 0%, black 100%);  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Calc {
  border: 1px solid black;
  padding: 5px;
  border-radius: 16px;
  margin: 5px;
  padding: 15px;
  background: transparent;
  box-shadow: inset 0px 3px 15px rgba(113, 115, 119, 0.5);
}
.display-calc{
    display: block;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    flex: 1;
    width: 300px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow:inset 39px 30px 25px rgba(84, 84, 84, 0.1);
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-all;
    color: white;
}
.display-calc > .input{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0.5em;
}
.display-calc > .output{
    font-size: 25px;
    font-weight: 400;
    color: fuchsia;
    word-wrap: break-word;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 23px;
    font-weight: 700;
    box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}


.equals{
    background-color: rgb(237, 128, 237);

}
.operator{
    color: fuchsia;
    background-color: gold;
}
